.pem
.key
.cert
.db
.log
seed_phrase
terraform/.terraform/*
terraform/*
./terraform*
node/

.venv*
.env*/
env/
venv/

.vscode

__pycache__/
*__pycache__*

development/requirements.txt
development/packages.txt

.DS_Store

flows/ops-snowflake-driver/development/*.yml
flows/ops-snowflake-driver/development/*.yaml